<tr id="comment-<%= comment.id %>" class="align-top border-b">
  <td class="w-[60px] p-2">
    <!-- # TODO:コメント投稿者のアイコンを表示されるようにしたい。 -->
    <%= image_tag "logo.png", width: "50", height: "50", class: "rounded-full" %>
  </td>
  <td class="p-2">
    <h3 class="text-sm font-semibold"><%= comment.user.decorate.full_name %></h3>
    <p class="text-sm text-gray-700"><%= simple_format(comment.body) %></p>
  </td>
  <% if current_user && current_user.own?(comment) %>
    <td class="p-2 align-top text-right">
      <ul class="flex justify-end space-x-2">
        <li>
          <!-- コメントのインライン編集が未完了です。 -->
          <%= link_to "#", data: { turbo_frame: "comment_#{comment.id}" }, class: "inline-block bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg transition-all duration-300" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
              <path d="M17.414 2.586a2 2 0 00-2.828 0L6 11.172V14h2.828l8.586-8.586a2 2 0 000-2.828z" />
              <path fill-rule="evenodd" d="M2 16a2 2 0 002 2h12a2 2 0 002-2v-1H2v1z" clip-rule="evenodd" />
            </svg>
          <% end %>
        </li>
        <li>
          <%= link_to comment_path(comment), class: "inline-flex items-center bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-lg transition-all duration-300", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H3a1 1 0 000 2h1v10a2 2 0 002 2h8a2 2 0 002-2V6h1a1 1 0 100-2h-2V3a1 1 0 00-1-1H6zm3 5a1 1 0 012 0v6a1 1 0 11-2 0V7zm4 0a1 1 0 00-2 0v6a1 1 0 002 0V7zM7 7a1 1 0 012 0v6a1 1 0 11-2 0V7z" clip-rule="evenodd" />
            </svg>
          <% end %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>
